<% include header.ejs %>
<!-- 主页主体部分 -->
<div class="container-fluid main">
  <div class="row-fluid">
      <div class="tabbable tabs-left" id="tabs-234686">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#panel-1001" data-toggle="tab"> 实验室简介 </a>
          </li>
          <li>
            <a href="#panel-1002" data-toggle="tab"> 设备介绍 </a>
          </li>
          <li>
            <a href="#panel-1003" data-toggle="tab"> 研究方向 </a>
          </li>
          <li>
            <a href="#panel-1004" data-toggle="tab"> 教师风采 </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel-1001">
            <br>
            <!-- 实验室简介 -->
            <div class="container-fluid">
              <div class="row-fluid">
                <div class="hero-unit">
                  <h1>
                    欢迎来到智能计算实验室
                  </h1>
                  <img src="imgs/intro1.jpg" alt="..." class="img-thumbnail">
                  <h2>介绍省略500字</h2>
                  <a href="/test">点这里</a>
                </div>
                
              </div>
            </div>
          </div>
          <div class="tab-pane" id="panel-1002">
            <br>
            <!-- 列表组 -->
            <div class="list-group">
              <a href="#" class="list-group-item">
                Cras justo odio
              </a>
              <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
          </div>
          <div class="tab-pane" id="panel-1003">
            <br>
            <!-- 列表组 -->
            <div class="list-group">
              <a href="#" class="list-group-item">
                Cras justo odio
              </a>
              <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
          </div>
          <div class="tab-pane" id="panel-1004">
            <br>
            <!-- 教师风采 -->
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="imgs/t1.jpg" alt="...">
                    <div class="caption">
                      <h3>陈亮</h3>
                      <p>我是介绍</p>
                      <p><a href="#" class="btn btn-primary" role="button">查看详细</a></p>
                    </div>
                  </div>
                </div>
              
              
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="imgs/t1.jpg" alt="...">
                    <div class="caption">
                      <h3>陈亮</h3>
                      <p>我是介绍</p>
                      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        展开详细
                      </a>
                      <div class="collapse" id="collapseExample">
                        <div class="well">
                          介绍
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
              
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="imgs/t1.jpg" alt="...">
                    <div class="caption">
                      <h3>陈亮</h3>
                      <p>我是介绍</p>
                      <p><a href="#" class="btn btn-primary" role="button">查看详细</a></p>
                    </div>
                  </div>
                </div>
              

          </div>
        </div>
      </div>
  </div>
</div>

<% include footer.ejs %>